*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "DM Sans", sans-serif;
}

/* Mobile */

.site-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #425A8B;
    width: 100%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

}

.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #D5DFE4;
    padding: 0.5rem;
    font-size: .75rem;
    gap: 1rem;
}

.header-top span{
    font-size: 14px;
    font-weight: bold;
    color:#5BC694;
}

.header-top-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-top-left a{
    text-decoration: none;
    color: #425A8B;
}

.header-top-right{
    display: flex;
    flex-direction: row;
    gap: .6rem;
    padding-left: .6rem;
}

.language{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .3rem;
    padding-left: 0.6rem;
}

.language img{
    height: 1rem;
}

.currency{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .3rem;
}

.header-top-right select{
    width: 1rem;
    height: 1rem;
    border: none;
    outline: none;
}

.header-bottom{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: stretch;
    padding: 0.6rem;
    border-bottom: 1px solid #D5DFE4;
}

.first{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.search-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    flex:1;
    padding: 2px 5px;
    border: 1px solid #8C9EC5;
    border-radius: 0.5rem;
    height: 2rem;
    max-width: 500px;
}
.search-bar p{
    font-size: .6rem;
    font-weight: bold;
    flex-shrink: 0;
}
.search-bar select{
    border: none;
    outline: none;
    padding-right: 5px;
}

.search-bar-input{
    border: none;
    color:#425A8B;
    font-size: .65rem;
    padding-left: 5px;
    flex-shrink: 0;
    flex: 1;
    min-width: 0;
}

.search-bar-btn{
    border: none;
    background: none;
}

.search-bar-btn img{
    width: 15px;
    height: 15px;
}
.second{
    display: flex;
    flex-direction: column;

}

.second a{
    text-decoration: none;
    color: #425A8B;
    font-size: 0.8rem;
}

.bottom-middle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.bottom-middle select{
    border: none;
    outline: none;
    flex-shrink: 0;
    min-width: 10px;
}

.bottom-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
}

.bottom-right img{
    padding-right: 0.6rem;
    width: 2rem;
}

.bottom-right a{
    padding-right: .6rem;
    display: flex;
}

.main{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.category-grid{
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin-right: 12px;
    padding: 1rem;
    color: #425A8B;
}

.category-image-wrapper{
    border-radius: 100%;
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#D1ECFD;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.category-image-wrapper img{
    width: 50%;
}

.category-smartphones{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    padding: 1.5rem 1rem;
    width: 100%;
    margin-bottom: 54px;
}

.container-left{
    background: #C7E4FF ;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 330px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.container-left-text{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: .7rem;
}

.container-left-text span{
    color: #425A8B;
    font-weight: bold;
}

.container-left-text h3{
    color: #131212;
    font-weight: bold;
}

.container-left-text ul{
    margin-left: 20px;
}

.container-btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

.shop-now-btn{
    border: none;
    background: #425A8B;
    border-radius: 6px;
    padding: 10px;
    color: #FFFFFF;
    width: 82px;
}

.container-btn a{
    text-decoration: none;
    color: #425A8B;
    font-weight: bold;
}

.container-right{
    flex: 1;
    background: #C7E4FF ;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 330px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.container-right-text{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: .7rem;
}

.container-right-text span{
    color: #425A8B;
    font-weight: bold;
}

.container-right-text h3{
    color: #131212;
    font-weight: bold;
}
.time{
    display: flex;
    flex-direction: row;
    gap:10px;
}

.days{
    display: flex;
    flex-direction: column;
}

.hours{
    display: flex;
    flex-direction: column;
}

.mins{
    display: flex;
    flex-direction: column;
}

.secs{
    display: flex;
    flex-direction: column;
}

.offer-btn{
    border: none;
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
    background: #5BC694;
    border-radius: 5px;
    color: #FFFFFF;
}

.featured-products{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.featured-products h2{
    color: #425A8B;
}

.featured-products span{
    color: #8C9EC5;
}

@media (min-width: 768px){
    .header-top{
        font-size: 0.85rem;
        padding: 1rem 2rem;
    }

    .header-top-left{
        flex-direction: row;
        align-items: center;
        gap: 1.5rem;
    }

    .header-top-left a{
        font-size: .85rem;
    }

    .category-grid{
        justify-content: space-around;
    }

    .category-image-wrapper{
        width: 7rem;
        height: 7rem;
    }

    .hero-container{
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex-shrink: 0;
        gap: 2rem;
    }

    .container-left{
        padding: 2rem;
        min-width: 380px;
        min-height: 280px;
        max-width: min-content;

    }

    .container-right{
        padding: 2rem;
        min-width: 380px;
        min-height: 280px;
        max-width: min-content;

    }
}

@media(min-width:1024px){
    .header-bottom{
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 4rem;
        padding: 1.5rem 2rem;
    }

    .first{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
        width: auto;
        flex: 1;
    }

    .search-bar{
        max-width: 560px;
        height: 2.5rem;
    }

    .second{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 3rem;
        flex: 1;
    }

    .bottom-middle{
        gap: 1.5rem;
    }

    .bottom-right{
        padding: 0;
    }

    .category-grid{
        justify-content: space-evenly;
        padding: 3rem;
        width: 100%;
        flex: 1;
    }

    .category-image-wrapper{
        width: 12rem;
        height: 12rem;
    }

    .hero-container{
        justify-content: center;
    }
    .container-left{
        padding: 2rem;
        min-width: 680px;
        min-height: 400px;

    }

    .container-right{
        padding: 2rem;
        min-width: 680px;
        min-height: 400px;
        max-width: min-content;
    }
}